{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}

    <form method="post">

        {% csrf_token %}

        {{ form|bootstrap }}
        
        <br>
        <button class="btn btn-info" type="submit">Salvar</button>
        
        {% if object%}
            <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger"> Deletar </a>
        {%endif%}

    </form>

    <button onclick="teste()">Testar</button>

    <br>

{%endblock%}

{%block static%}

    <script src="{% static 'js/jquery.js' %}"></script> 
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>     

{%endblock%}