{% extends 'base.html' %}

{% block main %}
    
    <div class="row">
        <div class="col">
            Coluna 1
        </div>
        <div class="col">
            Olá <h3>{{usuario.funcionario.nome}}</h3>
            <a href="{% url 'list_funcionarios' %}">Gerenciar funcionarios</a>
            <br>
            <a href="{% url 'list_departamentos' %}">Gerenciar departamentos</a>
            <br>
            <a href="{% url 'list_hora_extra' %}">Gerenciar Banco de Horas</a>
            <br>
        </div>
        <div class="col">
            <a href="{% url 'logout' %}"> Logout </a>
            <br>
            {% if usuario.funcionario.empresa %}
                <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
            {% else %}
            <a href="{% url 'create_empresa' %}">Criar empresa</a>
            {% endif %}

        </div>
    </div>

{%endblock%}
